*.tsv
*.zip
env
data
.idea
*.pyc
*tfevents*
*.pk
*.pkl
src/models/s2s/test-trainer
checkpoints/best_summarizer/11-5-6-33.pt
checkpoints/s2s/seq2seq_checkpoints/checkpoint-21200/config.json
checkpoints/s2s/seq2seq_checkpoints/checkpoint-21200/generation_config.json
checkpoints/s2s/seq2seq_checkpoints/checkpoint-21200/optimizer.pt
checkpoints/s2s/seq2seq_checkpoints/checkpoint-21200/pytorch_model.bin
checkpoints/s2s/seq2seq_checkpoints/checkpoint-21200/rng_state.pth
checkpoints/s2s/seq2seq_checkpoints/checkpoint-21200/scheduler.pt
checkpoints/s2s/seq2seq_checkpoints/checkpoint-21200/trainer_state.json
checkpoints/s2s/seq2seq_checkpoints/checkpoint-21200/training_args.bin
checkpoints/s2s/toxic_classifier_checkpoints/checkpoint-600/config.json
checkpoints/s2s/toxic_classifier_checkpoints/checkpoint-600/merges.txt
checkpoints/s2s/toxic_classifier_checkpoints/checkpoint-600/optimizer.pt
checkpoints/s2s/toxic_classifier_checkpoints/checkpoint-600/pytorch_model.bin
checkpoints/s2s/toxic_classifier_checkpoints/checkpoint-600/rng_state.pth
checkpoints/s2s/toxic_classifier_checkpoints/checkpoint-600/scheduler.pt
checkpoints/s2s/toxic_classifier_checkpoints/checkpoint-600/special_tokens_map.json
checkpoints/s2s/toxic_classifier_checkpoints/checkpoint-600/tokenizer.json
checkpoints/s2s/toxic_classifier_checkpoints/checkpoint-600/tokenizer_config.json
checkpoints/s2s/toxic_classifier_checkpoints/checkpoint-600/trainer_state.json
checkpoints/s2s/toxic_classifier_checkpoints/checkpoint-600/training_args.bin
checkpoints/s2s/toxic_classifier_checkpoints/checkpoint-600/vocab.json
